.TransitionsDemo {
  text-align: left;
}

/* -------------------------------------------- */

.TD-container-1 button {
  margin: .5rem 1.5rem;
  width: 10rem;
  height: 4rem;
  font-size: 1rem;
  color: whitesmoke;
  border: none;
  background-color: blue;
}

#TD-button-1 {
  background-color: blueviolet;
  transition-property: background-color border-radius;
  transition-duration: 1.5s;
}

#TD-button-1:hover {
  background-color: forestgreen;
  border-radius: 1rem;
}

.TD-button-2 {
  font-weight: bold;
  transition: background-color 1500ms, color 1s ease 1500ms;
}

.TD-button-2:hover {
  background-color: firebrick;
  color: yellow;
}

.TD-button-3 {
  font-weight: bolder;
  transition-property: all;
  transition-duration: 1.5s;
}

.TD-button-3:hover {
  background-color: black;
  color: aqua;
  width: 15rem;
}

/* -------------------------------------------- */

.TD-moving-button {
  margin: 1rem 1.5rem;
  width: 8rem;
  height: 3rem;
  border-radius: .25rem;
  font-size: 1rem;
  color: whitesmoke;
  border: none;
  background-color: darkslategray;
  transition-property: translate(); /* Must use dedicated property for 'translate()' */
  transition-duration: 3s;
  /* transition: translate() 3s; // ***Short syntax does not work for translating */
}

#ease {
  transition-timing-function: ease;
}

#linear {
  transition-timing-function: linear;
}

#ease-in {
  transition-timing-function: ease-in;
}

#ease-out {
  transition-timing-function: ease-out;
}

.TD-move:active {
  transform: translate(900px, 0);
}