.Hangman {
  width: 400px;
  color: black;
  text-align: center;
  zoom: 1.3;
  margin: 0 auto;
}

.Hangman img {
  border: 10px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 1rem;
  margin-top: 0;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
  margin-bottom: 2rem;
}

.Hangman-letter-button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 6px #ff9800;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman-reset-button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 6px #ff9800;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #ff9800;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

.Hangman-gameOver {
  padding: 0 2rem 2rem 2rem;
}

.Hangman-winMsg {
  font-size: 1.5rem;
  font-weight: bold;
  color: forestgreen;
}

.Hangman-loseMsg {
  font-size: 1.5rem;
  font-weight: bold;
  color: firebrick;
}