.Pokecard {
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    width: 150px;
    padding-bottom: .5%;
    margin: 2% 5%;
    background-color: white;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56)
}

.Pokecard p {
    margin: 5px
}

.Pokecard img {
    max-width: 60%;
    height: auto;
    -webkit-user-select: none;
    transition: all ease 400ms;
    /* pointer-events: none; */
}

.Pokecard img:hover {
    transform: scale(1.3);
    opacity: 0.9;
}